/* Add here all your css styles (customizations) */
a:hover {
    text-decoration: none;
}

.home-banner {
  background-size: cover;
  background-image: url('../img/bg/04.jpg');

  img {
    width: 70% !important;
    height: auto !important;
  }
}

.breadcrumbs {
  .breadcrumbs-logo {
    display: inline-table;
    img {
      max-height: 120px;
      margin-right: 30px;
    }
  }
  .breadcrumbs-header {
    display: inline-table;
  }
}

footer {
  text-shadow: 1px 1px 5px black;
}
