/* Add here all your css styles (customizations) */
a:hover {
    text-decoration: none;
}

.home-banner {
  .divimage {
    height: 120%;
    background-image: url('../img/bg/02.jpg');
  }
}

footer {
  text-shadow: 1px 1px 5px black;
}
